body {
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

h1,
h2,
h3 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
  line-height: 28px;
}

h2,
h3 {
  font-size: 15px;
}

h3 span {
  color: #83bd75;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  line-height: 19px;
  list-style: none;
  padding: 5px;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 8px;
  padding: 20px;
}

.overview {
  margin-left: 20px;
  margin-bottom: 50px;
}

.search-box {
  border: 1px solid #b4e197;
  border-radius: 18px;
  margin: 0 12px 0 20px;
  max-height: 50px;
  max-width: 255px;
  padding: 14px 10px;
}

.search-button {
  background: #b4e197;
  border: none;
  border-radius: 18px;
  color: white;
  font-size: 12px;
  max-height: 50px;
  max-width: 80px;
  padding: 16px 12px;
  text-align: center;
}

.space {
  margin-bottom: 25px;
}

.weather-desc img {
  display: inline-block;
  margin: -20px 0 0 20px;
  max-width: 100px;
  text-align: center;
}

.desc {
  color: #555555;
  font-size: 36px;
  margin-left: 20px;
  line-height: 1;
}

.desc:first-letter {
  text-transform: capitalize;
}

.weather-temp {
  color: #555555;
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
  padding-left: 32px;
}

.weather-forecast {
  background: #83bd75;
  border-radius: 50px;
  color: white;
  margin: 10px auto 0;
  max-width: 550px;
  padding: 10px 5px 5px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  opacity: 70%;
}
